<%- include("partials/header.ejs") %>

<div class="title-card card p-2 mx-3 mt-2 nav-item" style="width: 18rem;"> 
    <a href="/todaystasks" class="nav-link">   
        <h2>Todays Tasks</h2>
    </a>
</div>

<div class="title-card card p-2 mx-3 mt-2 nav-item" style="width: 18rem;">
    <a href="/worktasks" class="nav-link">   
        <h2>Work Tasks</h2>
    </a>
</div>

<%- include("partials/footer.ejs") %>