<%- include("partials/header.ejs") %>

<div class="body-container">
<div class="title-card card p-2 mx-3 mt-2" style="width: 18rem;">    
<h2>Todays Tasks</h2>
<h3> <%= new Date().toDateString() %> </h3>
<form action="/todaysTasksSubmit" method="POST">
    <div class="text-field-input-container">
        <div><input class="text-field" type="text" name="newTodaysListItem" placeholder="- new task -"></div>
        <div><input class="btn" type="submit" value="ADD"></div>
    </div>
</form>
</div>

<div class="list-card card p-2 mx-3 mt-2" style="width: 18rem;">
    <% if(locals.todaysList) { %>
        <% todaysList.forEach((todaysList) => { %>
        <div class="list-container list-group-item">
            <input class="checkbox" type="checkbox"><span> <%= todaysList %></span>
        </div>
        <% }) %>
    <% } %>
</div>

<div class="bottom-card card p-2 mx-3 mt-2" style="width: 18rem;">
<form action="/todaysTasksClearList" method="POST">
    <input class="btn" type="submit" value="CLEAR LIST">
</form>
</div>

<div class="title-card card p-2 mx-3 mt-2 nav-item" style="width: 18rem;">
    <a href="/worktasks" class="nav-link">   
        <h2>Work Tasks</h2>
    </a>
</div>
</div>

<%- include("partials/footer.ejs") %>